<p-toolbar>
  <div class="p-toolbar-group-start">
    <p-button [text]="true" icon="pi pi-web" label="bodrulamin"/>
  </div>
  <div class="p-toolbar-group-center">

  </div>
  <div class="p-toolbar-group-end">

    <p-button [text]="true" (onClick)="aboutMe.getBlockableElement().scrollIntoView(({ behavior: 'smooth' }))"
              severity="secondary" label="About"></p-button>
    <p-button [text]="true" (onClick)="skill.getBlockableElement().scrollIntoView(({ behavior: 'smooth' }))"
              severity="danger" label="skills"></p-button>
    <p-button [text]="true" (onClick)="aboutMe.getBlockableElement().scrollIntoView(({ behavior: 'smooth' }))"
              severity="secondary" label="portfolio"></p-button>
    <p-button [text]="true" (onClick)="aboutMe.getBlockableElement().scrollIntoView(({ behavior: 'smooth' }))"
              severity="secondary" label="experience"></p-button>
    <p-button [text]="true" [routerLink]="['/']" severity="secondary" fragment="education" label="education"></p-button>
    <p-button [text]="true" [routerLink]="['/']" severity="secondary" fragment="contact-me"
              label="contact-me"></p-button>

  </div>
</p-toolbar>
<div class="w-full mt-5">
  <div class="flex flex-column align-items-center gap-2">
    <div class="w-7rem h-7rem border-circle overflow-hidden shadow-8">
      <img src="https://bodrulamin.github.io/images/bodrulamin-pic.jpg" class="w-full h-full object-cover"
           alt="bodrulamin-photo">
    </div>

    <div class="text-center font-bold mt-4 text-600 text-3xl"> Bodrul Amin</div>
    <div class="text-center text-400 text-1xl">Software Engineer</div>

    <div class="flex flex-row gap-2 pt-1">
      <p-button [outlined]="false" (onClick)="socialOp.show($event);onSocialClicked('linkedin')"
                icon="fa-brands fa-linkedin-in"/>
      <p-button [outlined]="false" (onClick)="socialOp.show($event);onSocialClicked('email')" icon="fa fa-envelope"
                severity="danger"/>
      <p-button [outlined]="false" (onClick)="socialOp.show($event);onSocialClicked('github')"
                icon="fa-brands fa-github" severity="secondary"/>
      <p-button [outlined]="false" (onClick)="socialOp.show($event);onSocialClicked('phone')" icon="fa fa-phone"
                severity="success"/>
    </div>
    <div class="sm:col-11 md:col-8 lg:col-8">
      <p-panel #aboutMe header="about-me" class="w-full" [toggleable]="true">
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
          make
          a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
          containing
          Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
          versions
          of Lorem Ipsum.
        </p>
      </p-panel>
      <p-panel #skill header="skill" class="col-8" [toggleable]="true">
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
          make
          a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
          containing
          Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
          versions
          of Lorem Ipsum.
        </p>
      </p-panel>
      <p-panel #portfolio header="portfolio" class="col-8" [toggleable]="true">
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
          make
          a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets
          containing
          Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
          versions
          of Lorem Ipsum.
        </p>
      </p-panel>


    </div>

  </div>


</div>
<p-overlayPanel #socialOp>
  <div class="flex flex-column gap-3 w-25rem">
    <div>
      <span class="font-medium text-900 block mb-2">{{ social.title }}</span>
      <p-inputGroup>
        <span class="font-medium text-900 block m-2 align-content-center">{{ social.value }}</span>
        <button *ngIf="social.canCopy" type="button" [text]="true" pButton icon="pi pi-copy"
                class="p-button-secondary"></button>
        <button type="button" [text]="true" pButton icon="pi pi-globe" (click)="social.onClick()"
                class="p-button-secondary"></button>
      </p-inputGroup>
    </div>
  </div>
</p-overlayPanel>
